name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip git zip unzip openjdk-17-jdk \
          libffi-dev libssl-dev autoconf automake libtool pkg-config \
          zlib1g-dev libncurses5-dev libncursesw5-dev

    - name: Install Buildozer
      run: pip3 install buildozer

    - name: Build APK
      run: buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: semafor-apk
        path: bin/*.apk
